<!-- Note all closing divs in this file is important. Do Not Take Any Out! -->

<%- include('head.ejs') %>

        <%- include('navigation-head.ejs') %>
            </div>
            <%- include('navigation-end.ejs') %>
        </div>

        <div class="" style="margin-top:20px; margin-left: 20px; margin-right: 20px;">
            <table class="table table-borderless" style=" border-collapse: separate;
            border-spacing:0 10px;">
                <thead class='color-white text-white' style="background-color: #2e3241;">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Last</th>
                        <th scope="col">Buy / Sell Price</th>
                        <th scope="col">Volume</th>
                        <th scope="col">Base Unit</th>
                    </tr>
                </thead>
                <tbody class="text-white">
                    <% for (const trader of traders) { %>
                        <tr class="mt10" style="background-color:#2e3241; border-radius: 10px;">
                            <th scope="row"><%= trader.id %></th>
                            <td><%= trader.name %></td>
                            <td>£<%= trader.last %></td>
                            <td>£<%= trader.buy %>/£<%= trader.sell %></td>
                            <td><%= trader.volume %></td>
                            <td><%= trader.base_unit %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

<%- include('end.ejs') %>